@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    list-style: none;
    text-decoration: none;

    font-family: 'Poppins', sans-serif;
}

:root{
    --main-color: #359381;
    --dark-main-color: #003329;
    --grey: #333;
}

body{
    background: #f9f9f9;

    min-height: 100vh;
    overflow-x: hidden;
}

header{
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    padding: 1.8rem 6.2rem;
    
    display: flex;
    justify-content: flex-start;
    align-items: center;

    z-index: 100;
}

.logo{
    margin-right: 16.8rem;

    color: var(--main-color);

    font-size: 2em;

    pointer-events: none;
}

.navigation a{
    color: var(--main-color);

    padding: .4rem .9rem;
    margin: 0 .8rem;

    border-radius: 20px;

    font-weight: 600;
}
.navigation a:hover,
.navigation a.active{
    background: var(--main-color);
    color: #fff;
}

.parallax{
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;

    height: 100vh;

    overflow: hidden;
}

.parallax img{
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;

    pointer-events: none;
}

.sec{
    position: relative;

    background: var(--dark-main-color);

    padding: 6.25rem;
}

.sec h2{
    font-size: 3em;

    color: #fff;

    margin-bottom: .8rem;
}

.sec p{
    text-align: justify;

    font-size: 1em;
    font-weight: 300;
    
    color: #fff;
}

#text{
    position: absolute;
    
    font-size: 5em;
    
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0,0,0,.2);
}

#hill2, #hill3, #tree, #plant{
    /* o efeito parallax pode ser considerado utilizando o background-attachment: fixed */
    background-attachment: fixed;
}




@media (max-width: 1280px)
{

    header{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: .2rem 0;
    }

    .logo{
        color: var(--main-color);
    
        font-size: 2em;
        
        margin: 0 auto;
        margin-bottom: 5px;

        pointer-events: none;
    }

    .navigation{
        display: flex;
    }

    #text{
        position: absolute;
        
        font-size: 4em;
        
        color: #fff;
        text-shadow: 2px 2px 4px rgba(0,0,0,.2);
    }

    .parallax img{
        position: absolute;
        top: 0;
        left: 0;
    
        height: 100vh;

        width: 100%;

        pointer-events: none;
    }

    #hill2, #hill3, #hill1, #hill4, #hill5, #tree{
        background-attachment: fixed;
        object-fit: cover;
    }

    #plant, #leaf{
        width: 200%;
    }

    #leaf{
        padding-right: 480px;
        height: 80%;
    }

    .sec{
        position: relative;
    
        background: var(--dark-main-color);
    
        padding: 2.25rem;
    }
}

@media (max-width: 450px)
{

    header{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: .1rem 0;

        width: 30%;
    }

    .logo{
        color: var(--main-color);
    
        font-size: 2em;
        
        margin: 0 auto;
        margin-bottom: 5px;

        pointer-events: none;
    }

    .navigation{
        display: flex;
        flex-direction: column;
    }

    #text{
        position: absolute;
        
        text-align: center;

        font-size: 5em;
        
        color: #fff;
        text-shadow: 2px 2px 4px rgba(0,0,0,.2);
    }

    .parallax img{
        position: absolute;
        top: 0;
        left: 0;
    
        height: 100vh;

        pointer-events: none;
    }

    #hill2, #hill3, #hill1, #hill4, #hill5, #tree{
        background-attachment: fixed;
        object-fit: cover;
    }

    #plant, #leaf{
        width: 200%;
    }

    #leaf{
        padding-right: 400px;
        height: 70%;
    }

    .sec{
        position: relative;
    
        background: var(--dark-main-color);
    
        padding: 2.25rem;
    }
}

